<section class="block">
  <div class="block__content">
    <div class="block__header">
      <h2 class="block__heading">Cloud Hosting For Pros</h2>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Sapiente, optio earum. Perferendis dolore id suscipit
      officia fuga, repellat ab dicta itaque accusamus commodi quos. Alias quos
      aliquam debitis fugit magnam.
    </div>
  </div>
</section>
<section class="block block--black block--left-skewed">
  <div class="block__content">
    <div class="block__header">
      <h2 class="block__heading">Cloud Hosting For Pros</h2>
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Laborum quas vel facilis delectus, a quod! Enim aut
      reiciendis labore? Quaerat impedit ullam voluptatum dignissimos minus eos
      eligendi mollitia nobis quo.
    </div>
  </div>
</section>
